@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <h4>@Html.ActionLink("Borrar personas desde un departamento especifico", "SeleccionarDept")</h4>
</div>