@model List<Entities.clsDepartamento>

<form asp-action="SeleccionarDept">
    <select name="IdDept">
        @foreach (Entities.clsDepartamento dept in Model)
        {
            <option value="@dept.Id">@dept.Nombre</option>
        }
    </select>
    <br/>
    <div class="text-center">
        <input type="submit" value="Seleccionar" class="btn btn-primary" />
    </div>
</form>